# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
frontend/.env

# IDE / Editor directories
.vscode/
.idea/

# Auth token files
token.json
credentials.json

# Virtual Environments
.venv/
.venv312/

# Other
errors/
